* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: ghostwhite;
    text-align: center;
    height: 125px;
    width: auto;
    
}

.main-container {
    height: 800px;
    width: auto;
    background-image: url(./img/background\ PINK-SMOKE.png);
    display: flex;
    justify-content: center;
}


.search-container {
    display: flex;
    margin: auto;
    background-color: black;
    width: 700px;
    height: 350px;
    opacity: 90%;
    flex-direction: column;

}

.search-container .btn-holder {
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
}

.search-container .btn-holder button {
    padding: 7px 15px;
    background-color: blueviolet;
    opacity: 75%;
    font-size: medium;
    color: darkgrey;
}

.weather-container {
    display: block;
    margin: auto;
    background-color: black;
    opacity: 90%;
}

footer {
    background-color: black;
    color: blanchedalmond;
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center
}
