* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: ghostwhite;
    text-align: center;
    height: 125px;
    width: auto;
    
}

.main-container {
    height: 800px;
    width: auto;
    background-image: url(./img/background\ PINK-SMOKE.png);
    display: flex;
    justify-content: center;
}


.search-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

footer {
    background-color: black;
    color: blanchedalmond;
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center
}

#track-container {
    background-color: black;
    height: 50px;
    width: 500px;
    border-radius: 25px;
    color: honeydew;
    text-align: justify;
    font-size: xx-large;
}

#track-label {
    margin-left: 20px;
    margin-top: 5px;
};